//- Author: Gikuyu Nderitu
//- Date: 12/20/2016
//- Project: Disappearing Ninja

doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="Disappearing Ninja" content="Disappearing Ninja project")
		title Disappearing Ninja!
		link(rel="stylesheet", href="assets/css/style.css", attr)
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(type="text/javascript" src="assets/js/functions.js")
	body
		header
			h1 jQuery Assignment 
			h2 Dissapearing Ninja
		main
			img(src="assets/img/image1.jpg", alt="Some Cute Couple Doing Some Cute Thing 1")
			img(src="assets/img/image2.jpg", alt="Some Cute Couple Doing Some Cute Thing 2")
			img(src="assets/img/image3.jpg", alt="Some Cute Couple Doing Some Cute Thing 3")
			img(src="assets/img/image4.jpg", alt="Some Cute Couple Doing Some Cute Thing 4")
			img(src="assets/img/image5.jpg", alt="Some Cute Couple Doing Some Cute Thing 5")
			img(src="assets/img/image6.jpg", alt="Some Cute Couple Doing Some Cute Thing 6")
			img(src="assets/img/image7.jpg", alt="Some Cute Couple Doing Some Cute Thing 7")
			img(src="assets/img/image8.jpg", alt="Some Cute Couple Doing Some Cute Thing 8")
			button.restore Restore!
		
		a(href="#") hAck3d by Gikuyu Nderitu - Atypical Dev
