/*Styling by: Gikuyu Nderitu*/

/*Normalize*/
*{
	margin: 0;
	padding: 0;
	border: 0;
}

li{
	list-style: none;
}
.padded{
	padding: 10px;
}

.colored-list{
	color: #ccb43f;
	font-style: oblique;
}

.list{
	font-size: 1.2em;
	line-height: 1.55em;
}

#wrapper{
	width: 970px;
	margin: 0 auto;
	font-family: sans-serif;
	/*Gradient Background from http://cssmatic.com/gradient-generator*/
	background: rgba(36,80,118,1);
	background: -moz-linear-gradient(top, rgba(36,80,118,1) 0%, rgba(47,106,158,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(36,80,118,1)), color-stop(100%, rgba(47,106,158,1)));
	background: -webkit-linear-gradient(top, rgba(36,80,118,1) 0%, rgba(47,106,158,1) 100%);
	background: -o-linear-gradient(top, rgba(36,80,118,1) 0%, rgba(47,106,158,1) 100%);
	background: -ms-linear-gradient(top, rgba(36,80,118,1) 0%, rgba(47,106,158,1) 100%);
	background: linear-gradient(to bottom, rgba(36,80,118,1) 0%, rgba(47,106,158,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#245076', endColorstr='#2f6a9e', GradientType=0 );
}

img{
	width: 50%;
	height: 50%;
}

header, nav, section, footer, footer ul{
	display: block;
	/*width: 100%;*/
	color: white;
	justify-content: space-around;
}
a{
	color: white;
}
header{
	justify-content: space-between;
}

#header-interact{
	display: inline-block;
	vertical-align: top;
	margin-left: 150px;
}

#text-size{
	display: flex;
	justify-content: space-around;
}

#text-size span{
	color: white;
}

#text-size a{
	color: #ccb43f;
}

#search-bar{
	margin-top: 5px;
	background: #444444;
	border-radius: 20px;
	padding: 15px;
	box-shadow: 2px 2px 5px #000;
}

#search-bar input{
	padding: 12px;
	margin: 5px;
	text-align: center;
}

#search-bar input[type=submit]{
	background-color: #4870ad;
	border-radius: 7px;
	box-shadow: 1px 1px 0 1px #bbb inset;
	color: white;
	padding: 7px 9px;
}

#search-bar input[type=submit]:hover{
	cursor: pointer;
}
nav ul{
	margin: 0 auto;
	width: 80%;
	background: #487ead;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	box-shadow: 3px 3px 4px #000;
}

nav li{
	display: inline-block;
}

nav a{
	font-size: 1.5em;
	text-decoration: none;
}

section > div{
	display: inline-block;
}

#bullet-points{
	background: transparent;
	margin: 5px;
}

#list{
	width: 20%;
	display: inline-flex;
	vertical-align: top;
	text-align: center;
}

#list ul{
	margin-left: 10px;
}

#list li{
	list-style: url('list-style-image.png') inside;
	margin-left: 10px;
	line-height: 1.6em;
}

#explanation{
	margin-left: 60px;
	width: 60%;
	display: inline-block;
	text-align: center;
}

#intro-to-python{
	background: white;
	color: black;
	display: flex;
	text-align: center;
}

#intro-to-python>div{
	display: inline-block;
	width: 35%;
	vertical-align: top;
	border-top: 3px solid #5d92c1;
	padding: 3px;
}

#intro-to-python a{
	color: #5d92c1;
}

#intro-to-python ul{
	width: 50%;
	margin: 0 auto;
}

#intro-to-python li{
	list-style: square;
}

footer{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	color: !important #5d92c1;
}

footer > div{
	width: 100%;
	display: block;
	margin: 5px 0;
}

footer ul{
	display: flex;
	justify-content: space-around;
	font-size: 1.3em;
}

footer ul li{
	display: inline-block;
}

footer a{
	text-decoration: none;
}

#initiatives{
	padding: 20px;
}
#copyright{
	font-size: .7em;
	text-align: center;
}
