/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 border: 0 none;
 outline: 0;
 font-size: inherit;
 font-style: inherit;
 font-family: inherit;
 font-weight: inherit;
 vertical-align: baseline;
}
#wrapper{
 width: 970px;
 display:inline-block;
 background-color: silver;
 margin: 20px;
 padding: 10px;
}

#header{
 height: 150px;
 background-color: green;
 margin: 10px 10px 10px 10px;
 display: block;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin: 10px;
 display: inline-block;
 float: left;
}
#main_content{
 height: 390px;
 width: 700px;
 background-color: red;
 margin: 10px;
 padding:20px 20px 10px 10px;
 display:inline-block;
}
.subcontents{
 height: 200px;
 width: 200px;
 background-color: yellow;
 display: inline-block;
 margin: 0px 10px 20px 10px;
}
#advertisement{
 height: 120px;
 width: 650px;
 background-color: purple;
 display: inline-block;
 margin: 10px;
}
