#header{

  font-size: 2.2em;
    border: 5px solid #ec1e64;
    border-radius: 15px;
    /* width: 1400px; */
    padding: 15px;
    background-color: #ec1e64;
    color: #c7d2d8;
    font-weight: bold;
}
body{
  width:1200px;
  background-color: rgba(0, 74, 150, 0.62);

}
#nav-menu{
  border: 5px solid rgb(173, 230, 225);
    width: 205px;
    height: 210px;
    border-radius: 15px;
    /* top: 5px; */
    padding: 10px;
    color: whitesmoke;

    background-color: rgb(173, 230, 225);

  /*border: 5px solid rgb(173, 230, 225);
/*width: 210px;*/
/*height: 210px;
border-radius: 15px;
padding: 5px;
color: whitesmoke;
background-color: rgb(173, 230, 225);*/
/*list-style-position: inside;*/*/
}
ul{
  margin-left: -15px;
  margin-top: 3px;
}
 li span  {
  margin-left : 0px;

}
/*span{
  color: hot-pink;
}*/
a:link{
  color: #03a9f4;
}
#content{
  border: 5px rgba(0, 0, 0, 0.55);
    width: 920px;
    height: 550px;
    border-radius: 15px;
    padding: 5px;
    float: right;
    margin-top: -239px;
    color: #efe7e7;
        background-color: rgba(0, 0, 0, 0.55);
/*border: 5px solid grey;
width:650px;
height:500px;
border-radius: 15px;
padding:10px;*/
}
p{
  margin-top:-10px;
  font-size: 15px;
}

#body{
  padding-left: 10px;
}
#body1{
  font-size: 15px;
}
#colchar{
  color:purple;
}
/*#body1 a:link{
  color: #03a9f4;

}*/
/*#footer{
  border: 5px solid rgba(0, 0, 0, 0.55);
  border-radius: 15px;
  /* width: 1400px; */
  /*padding: 10px;
  background-color: rgba(0, 0, 0, 0.55);
  color: #c7d2d8;
  margin-bottom: 500px;
}*/
#footer {
    border: 5px solid grey;
    border-radius: 20px;
    /* width: 1400px; */
    padding: 15px;
    background-color: grey;
    color: #c7d2d8;
    margin: 340px;
    margin-left: 0px;
    margin-right: 0;
    font-size: 15px;
  }
