*{
  padding: 0px;
  margin: 0px;
  /*outline: 2px dashed red;*/
}
.wrapper{
  padding: 50px;
  margin: 0 auto;
  width: 970px;
  background-color: #d4d1b0;
}
.header{
  margin-bottom: -3px;
}
img{
  height: 100px;
  width: auto;
  display: inline-block;
  border: 3px solid;
  padding: 20px;
  margin: 2px;
  position: relative;
  left: 75px;
}
img.nobor{
  border: none;
  height: 65px;
  position: relative;
  left: 180px;
  margin-right: -15px;
}
img.getinplace{
  width: 100px;
}
h1{
  display: inline-block;
  position: relative;
  left: 180px;
  bottom: 28px;
}
.blue{
  background-color: #9696ff;
}
.red{
  background-color: #f18b8b;
}
.button{
  height: 46px;
  width: 135px;
  border-radius: 10px;
  position: relative;
  left: 400px;
  top: 17px;
  background-color: hotpink;
}
