* {
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD
* :hover{
  outline: 5px solid red;
}
.wrapper{
  display: inline-block;
}
#bull li:before{
  content: ">>";
  color: yellow;
}

.header {
    background-color: #265175;
}
img{
  height: 120px;
}
.textsize {
  color: white;
}
.list{
  height: inherit;
  list-style: none;
}
.side{
  display: inline-block;
  position: relative;
  left: 85%;
  bottom: 100px;
  background-color: #444444;
  padding: 20px;
  width: 15em;
  border-radius: 20px;
}
input[type=submit]{
  background-color: blue;

}
#bull{
  width: 20%;
  color:white;
  padding: 39px;
  display: inline-block;
  position: relative;
  left: 20em;
  vertical-align: top;
  text-decoration: underline;
  list-style-type: none;
}

#down1{
  height: 1px;
=======

* :hover {
    outline: 5px solid red;
}

.wrapper {
    display: inline-block;
    width: 1000px;
}

.side {
    display: inline-block;
    position: relative;
    left: 705px;
    bottom: 100px;
    background-color: #444444;
    padding: 20px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px #000;
}

.textsize {
    color: white;
    display: block;
}

.search {
    display: block;
    margin: 5px auto 5px auto;
}
#search_box{
    display: inline;
    height: 40px;
    width: 160px;
}

#search_button{
    display: inline;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: lightblue;
    border-radius: 7px;
    height: 40px;
}

#bull li:before {
    content: ">>";
    color: yellow;
}

.header {
    background-color: #265175;
}

img {
    height: 120px;
}


.list {
    height: inherit;
    list-style: none;
}



input[type=submit] {
    background-color: blue;
}

#bull {
    width: 20%;
    color: white;
    padding: 39px;
    display: inline-block;
    position: relative;
    left: 20em;
    vertical-align: top;
    text-decoration: underline;
    list-style-type: none;
}

#down1 {
    height: 1px;
>>>>>>> e44ba631d5b432bd02352e24b566b16f42acf4db
}

p#yellow {
    color: #898832;
}

.nav {
    background-color: #447CAB;
    color: white;
    display: inline-block;
    width: 90%;
    position: relative;
    left: 3%;
    height: 20px;
    padding: 15px;
    list-style-type: none;
    text-align: center;
    box-shadow: 7px 7px 5px #273B4B;
    border-radius: 20px;
}

.nav li {
    display: inline-block;
    text-align: center;
    padding: 12px 120px 120px 12px;
    height: 0em;
    color: white;
    border-radius: 3px
}

form {
<<<<<<< HEAD

=======
>>>>>>> e44ba631d5b432bd02352e24b566b16f42acf4db
    display: inline-block;
    width: 20%;
    height: 30px;
    padd ing: 10px;
    border-radius: 18px;
}

a.yellow {
    color: #898832;
<<<<<<< HEAD
  }
#yellow {
    position: relative;;
    left: 20%;
}
.words{
  color: white;
  display: inline-block;
  width: 31em;
  position: relative;
  left: 35em;
  bottom: 200%;
  padding: 3%;
}
.starting{
  vertical-align: top;
  border-top: 5px solid #265175;
  display: inline-block;
  width: 20%;
  position: relative;
  left: 37em;
  margin: 1%;
}
#start{
  text-align: center;
}
.apps{
  vertical-align: top;
  display: inline-block;
  width: 20%;
  position: relative;
  left: 39em;
  margin: 1%;
  border-top: 5px solid #265175;

}
#app {
  text-align: center;
  padding: 2%;
  position: relative;
  top: 100%;
=======
}

#yellow {
    position: relative;
    ;
    left: 20%;
}

.words {
    color: white;
    display: inline-block;
    width: 31em;
    position: relative;
    left: 35em;
    bottom: 200%;
    padding: 3%;
}

.starting {
    vertical-align: top;
    border-top: 5px solid #265175;
    display: inline-block;
    width: 20%;
    position: relative;
    left: 37em;
    margin: 1%;
}

#start {
    text-align: center;
}

.apps {
    vertical-align: top;
    display: inline-block;
    width: 20%;
    position: relative;
    left: 39em;
    margin: 1%;
    border-top: 5px solid #265175;
}

#app {
    text-align: center;
    padding: 2%;
    position: relative;
    top: 100%;
>>>>>>> e44ba631d5b432bd02352e24b566b16f42acf4db
}

.footer {
    background: rgb(63, 76, 107);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(63, 76, 107, 1) 0%, rgba(43, 93, 134, 1) 76%, rgba(43, 93, 134, 1) 77%, rgba(43, 93, 134, 1) 91%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(63, 76, 107, 1) 0%, rgba(43, 93, 134, 1) 76%, rgba(43, 93, 134, 1) 77%, rgba(43, 93, 134, 1) 91%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(63, 76, 107, 1) 0%, rgba(43, 93, 134, 1) 76%, rgba(43, 93, 134, 1) 77%, rgba(43, 93, 134, 1) 91%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#2b5d86', GradientType=0);
    /* IE6-9 */
}

<<<<<<< HEAD
.help{
  display: inline-block;
}
.help li{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 39px;
  position: relative;
  left: 100%;
  opacity: 5%;
}
.rights{
  text-align: center;
}
=======
.help {
    display: inline-block;
}

.help li {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 39px;
    position: relative;
    left: 100%;
    opacity: 5%;
}

.rights {
    text-align: center;
}


>>>>>>> e44ba631d5b432bd02352e24b566b16f42acf4db
/*&ordm;*/
