/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-right: 15px;
 display: inline-block;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 padding: 15px 15px;
 display: inline-block; 
 vertical-align: top;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 display: inline-block;
 margin: 5px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 10px 0 0 5px;
}