*{
	margin: 0;
	padding: 0;
}
.ninja{
	/*outline: dotted blue;*/
	border: black 2px solid;
	margin: 15px;
	width: 80px;
}
.row{
	display: inline-block;
	/*outline: dotted red;*/
	/*height: 100%;*/
	width: 100%;
}
.col{
	/*outline: dotted yellow;*/
	width: 100px;
	float: left;
}