body{
  background-color: #193061;
}

#header{
  height: 80px;
  width: 1300px;
  background-color: red;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
  color: white;
}
#header h1{
  position:relative;
  bottom: 20px;
}

/*#menu, #content{*/
  /*display: inline-block;*/
/*}*/

#container{
  margin-bottom: 20px;
}

#menu{
  background-color: #007e8f;
  height: 350px;
  width: 200px;
  border-radius: 20px;
  padding: 5px;
  font-size: 0.8em;
  float: left;
  /*position: relative;*/
  /*bottom: 205px;*/
  margin-right: 10px;
}
#menu ul li{
  color: white;
}
#menu ul li a{
  color: #27576B;
}

#content{
  background-color: black;
  height: 500px;
  width: 900px;
  border-radius: 20px;
  padding: 15px;
  margin-left: 220px;
}
#content h2{
  color: white;
  font-size: 1.7em;
}
#content p{
  color: white;
  font-size: 0.8em;
}
#content ul li{
  color:white;
  font-size: 0.8em;
}
.boldcharacter{
  color: purple;
}

#footer{
  background-color: grey;
  height: 80px;
  width: 1300px;
  border-radius: 10px;
  display: flex;
  /*position: relative;*/
  /*bottom: 60px;*/
}
#footer p{
  color: white;
  padding:20px 0px 20px 20px;
  margin: auto 0;
}
