/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 1000px;
 height: 550px;
 background-color: silver;
 margin: 20px auto;
 padding: 20px;
}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation, #main_content{
  display: inline-block;
}
#navigation{
 height: 280px;
 width: 200px;
 background-color: blue;
 margin-right: 20px;
}
#main_content{
 height: 300px;
 width: 700px;
 padding: 20px;
 background-color: red;
 position: relative;
 bottom: 70px;
}
.subcontents{
 height: 180px;
 width: 180px;
 display: inline-block;
 background-color: yellow;
 margin-right: 10px;
 margin-bottom: 10px;
}
#advertisement{
 height: 100px;
 width: 660px;
 background-color: purple;
}
