HTML*
Head*
Body*
Title*
Meta description*
a*
p*
div*
h*
ul*
li*
table (including: thead, td, tbody, tr)*
span*

fake survey:
form*
select*
input type = "text"*
input type = "checkbox"*
input type = "radio"*
input type = "submit"*