//- Author: Gikuyu Nderitu
//- Date: 12/20/2016
//- Project: Disappearing Ninja

doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name="Pokemon" content="This is the project displays all of the pokemon from #1 to #151")
		title Pokemon
		link(rel="stylesheet", href="assets/css/style.css", attr)
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous")
		script(type="text/javascript" src="assets/js/functions.js")
	body
		header
			h1 Api's & Ajax 
			h2 Pokemon
		main#poke-container
		a(href="#") hAck3d by Gikuyu Nderitu - Atypical Dev
