*{
  padding: 0px;
  margin: 0px;
}

#container{
  width: 1080px;
  height: 530px;
  background-color: #505050;
  margin: 10px;
  padding: 10px;
  vertical-align: middle;
  font-family: serif;
}

h1{
    background-color: red;
    border-radius: 15px;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

#Menu{
  background-color: blue;
  color: #00ffff;
  display: inline-block;
  border-radius: 15px;
  padding: 20px;
  text-decoration: underline;
  vertical-align: top;
  margin-top: 10px;
  margin-right: 10px;
}


.nobullet{
  display: inline-block;
}


#mainread {
    color: white;
    background-color: black;
    border-radius: 15px;
    display: inline-block;
    padding:20px;
    margin: 10px 0px 20px 10px;
    height: 350px;
    width: 800px;
    vertical-align: top;
}

h3{
    margin-bottom: 10px;
}
#footer {
    color: white;
    background-color: grey;
    border-radius: 15px;
    padding: 10px;
    vertical-align: bottom;
}

.menuitem2{
    margin-left: 40px;
}
.menuitem2 li{
    list-style-type: circle;
}

.menuitem1{
    margin-left: 20px;
}

.menuitem{
    margin-left:20px;
}

#colorchange{
    color:#8000ff;
}

a{
    color: #00ffff;
}

.indent{
    margin-top: 10px;
}

.menulinks{
    color: #00ffff;
    text-decoration: underline;
}
