/*CSS reset settings here*/
<<<<<<< HEAD
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 20px;
 height: 550px;
}
#header{
 height: 80px;
 background-color: green;
 margin: 10px;
 padding: 32px;
 }
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 margin: 10px;
}
#main_content{
 height: 400px;
 width: 700px;
 background-color: red;
 float: right;
 margin: 10px;
}
.subcontents{
 height: 200px;
 width: 210px;
 background-color: yellow;
 font size: 14px;
 display: inline-block;
 margin: 10px;
 margin-right: 0px;
}
#advertisement{
 height: 120px;
 width: 660px;
 background-color: purple;
 margin: 10px;
=======

* {
    margin: 0px;
    padding: 0px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    height: 550px;
}

#header {
    height: 80px;
    background-color: green;
    margin: 10px;
    padding: 32px;
}

#navigation {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    margin: 10px;
}

#main_content {
    height: 380px;
    width: 700px;
    background-color: red;
    position: relative;
    left: 230px;
    bottom: 330px;
    margin: 10px;
}

.subcontents {
    height: 200px;
    width: 210px;
    background-color: yellow;
    font size: 14px;
    display: inline-block;
    margin: 10px;
    margin-right: 0px;
}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
>>>>>>> e44ba631d5b432bd02352e24b566b16f42acf4db
}
