*{
    padding:0px;
    margin: 0px;
    font-family: arial, "helvetica neue", sans-serif;
}
/**:hover{
    outline: 1px dashed red;
}*/

#wrapper{
    width:970px;
    height:auto;
    display: block;
}
#container1{
    background-color: #2b5b84;
    color: white;
    font-size: 14px;
    height: auto;
    vertical-align: middle;
    display: block;
    position: relative;
    margin-bottom: 10px;
    width: inherit;
}

#tophead{
    margin: 10px 20px 5px 10px;
    display: inline-block;
}

#pythonimage{
    height: 100px;
    width: 300px;
    display: inline-block;
}

img{
    width: 100%;
    height: 100%;
}

.special{
    color: yellow;
    text-decoration: underline;
}

#settext{
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 10px;
}

#topright{
    display: inline-block;
    margin: 0px 10px 10px 10px;
    background-color: grey;
    padding: 10px 20px;
    border: black 20px;
    position: absolute;
    border-radius: 10px;
    right: 10px;
    top: 30px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: medium;
}

input{
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: thin;
}


#go{
    background-color: #2b5b84;
    border: solid #dfeaf0 2px;
    padding: 5px;
    color: white;
    border-radius: 10px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: thin;
}

.parttwo{
    padding: 0px 15px 10px 15px;
}

#topmenu{
    display: block;
    border-radius: 5px;
    background-color: #0080ff;
    padding: 5px 20px;
    margin: 20px;
    width: 800px;
    text-align: center;
    font-size: 20px;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: medium;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: medium;
}

#topmenu li{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
}

#middletext{
    display: block;
    text-align: center;
}

#sidemenu {
    text-align: center;
    margin: 10px;
    vertical-align: top;
    display: inline-block;
    padding: 10px;
    width: 150px;
}

#sidemenu ul{
    display: inline-block;
    list-style-type: none;
}

#sidemenu ul li{
    padding: 5px;
    text-decoration: underline;
}

#sidemenu ul li:before{
    color: yellow;
    content: ">> ";
}

#maintext{
    text-align: center;
    padding: 20px;
    display: inline-block;
    width: 600px;
}

.bigbrother{
    color: yellow;
    padding:10px;
    font-size: 20px;
    list-style-type: none;
}

#container2{
    background-color: white;
    text-align: center;
    display: block;
    margin: 20px;
    padding:20px;
    height: auto;
    width: inherit;
}


#gettingstarted{
    text-align:center;
    display:inline-block;
    width: 300px;
    padding: 10px 40px;
    border-top-color: #2b5b84;
    border-top-style: solid;
    border-top-width:thick;
    vertical-align: top;
}

#gettingstarted ul{
    list-style-type: square;
    color: #0080ff;
    font-size: 14px;
}

#applications{
    text-align: center;
    display: inline-block;
    width: 300px;
    padding: 10px 40px;
    border-top-color: #2b5b84;
    border-top-style: solid;
    border-top-width:thick;
}

#applications ul{
    list-style-type: square;
    color: #0080ff;
    font-size: 14px;
}

.superspecial{
    font-size: 10px;
    color: #0080ff;
}

h4{
    margin-bottom: 10px;
}

#container3{
    background-color: #2b5b84;
    color: white;
    font-size: 14px;
    height: auto;
    vertical-align: middle;
    display: block;
    padding: 20px 0px 5px 0px;
    text-align: center;
    color: #0080ff;
    width: inherit;
}

#container3 ul li{
    display: inline-block;
    text-align: center;
    padding: 20px
}

#container3 p{
    font-size: 10px;
}
