*
{
    margin: 0px;
    padding: 0px;
}
#wrapper
{
    height: 830px;
    width: 970px;
    background-color: #245076;
    margin: 0px auto;
}
#header
{
    /*outline: 1px solid red;*/
    height: 450px;
    padding: 10px 20px;
}
#header_top
{
    /*outline: 1px solid red;*/
}
#python_logo
{
    /*outline: 1px solid red;*/
    width: 50%;
    display: inline-block;
}
#search
{
    /*outline: 1px solid red;*/
    height: 80px;
    position: absolute;
    display: inline-block;
    margin-left: 75px;
}
#search p
{
    text-align: right;
    margin-right: 50px;
    margin-bottom: 5px;
    color: #e1e1e1;
}
#search p a
{
    color: #f1cb33;
}
#search_bar
{
    /*outline: 1px solid red;*/
    height: 40px;
    width: 300px;
    background-color: #444444;
    margin-left: 90px;
    padding-top: 10px;
    border-radius: 10px;
}
#search_bar input
{
    height: 30px;
    width: 150px;
    margin-left: 60px;
    vertical-align: top;
    text-align: center;
}

#search_bar button
{
    height: 30px;
    width: 35px;
    background-color: #245076;
    color: #e1e1e1;
    border-radius: 5px;
}
#navigation
{
    /*outline: 1px solid red;*/
    width: 830px;
    background-color: #487ead;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
    padding: 10px;
}
#navigation li
{
    display: inline-block;
    margin: 0px 15px 0px 15px;
}
#navigation a
{
    text-decoration: none;
    color: #e1e1e1;
}
#header_body
{
    /*outline: 1px solid red;*/
    height: 260px;
    width: 900px;
    display: inline-block;
    padding: 20px;
}
#header_links
{
    /*outline: 1px solid red;*/
    width: 200px;
    position: relative;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: 30px;
    color: #e1e1e1;
}
#header_links li
{
    /*outline: 1px solid red;*/
    width: 200px;
    list-style-position: inside;
    margin-left: 0px;
    padding-left: 0px;
}
#header_links a
{
    display: inline-block;
    font-size: 1.1em;
    color: #e1e1e1;
}
#motto
{
    /*outline: 1px solid red;*/
    height: 280px;
    width: 650px;
    display: inline-block;
    vertical-align: top;
    color: #e1e1e1;
}
#motto p
{
    /*outline: 1px solid red;*/
    width: 630px;
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 20px;
}
#motto li
{
    font-size: 20px;
    font-style: oblique;;
    color: #f1cb33;
    list-style-type: none;
    text-align: center;
    margin: 5px;
}
#motto span
{
    font-size: 18px;
    color: #e1e1e1;
}
#main_content
{
    /*outline: 1px solid red;*/
    height: 240px;
    background-color: white;
    padding: 20px 100px;
}
.main_subsection
{
    /*outline: 1px solid red;*/
    height: 240px;
    width: 360px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    border-top: 5px solid #73a7d5;
    margin-left: 20px;
}
.main_subsection h3
{
    /*outline: 1px solid red;*/
    width: 300px;
    margin: 5px 10px;
}
.main_subsection p
{
    /*outline: 1px solid red;*/
    width: 300px;
    margin: 5px 10px;
}
.main_subsection ul
{
    /*outline: 1px solid red;*/
    width: 300px;
    margin: 5px 10px;
}
.main_subsection li
{
    /*outline: 1px solid red;*/
    width: 250px;
    list-style-type: square;
    position: relative;
    left: 25px;
    margin-top: 5px;
}
.main_subsection a
{
    color: #73a7d5;
}
#footer
{
    /*outline: 1px solid red;*/
    height: 80px;
    text-align: center;
}
#footer ul
{
    /*outline: 1px solid red;*/
    vertical-align: middle;
}
#footer li
{
    display: inline-block;
    margin: 30px;
}
#footer a
{
    text-decoration: none;
    color: #73a7d5;
}
#footer p
{
    font-size: 0.7em;
    color: #73a7d5;
    position: relative;
    bottom: 15px;
}
